{% extends "menu.html" %}

{% block content %}
    {% for appts in Appointment %}
        <ul>
            <li>Title: {{appts.appt_title}}</li>
            <li>Appointment Date: {{appts.appt_date}}</li>
            <li>Appointment Time: {{appts.start_time}}</li>
            <li>Location: {{appts.location}}</li>
            <li>Notes: {{appts.add_notes}}</li>
            <li>Customer Name: {{appts.customer_Name}}</li>
            <li>Customer Email: {{appts.customer_email}}</li>
            <li>Status: {{appts.status}}</li>
        </ul>
    {% endfor %}
{% endblock content %}