{% extends "layout.html" %}
{%  block menuitems %}
<li class="nav-item active">
  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{url_for('main.todolist')}}">Sample Use Case</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{url_for('main.appointment')}}">Appointment</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{url_for('main.createappt')}}">Create An Appointment</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{url_for('main.editappt')}}">Edit An Appointment</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{url_for('main.viewappt')}}">View All Appointment(s)</a>
</li>
{%  endblock %}
